<!-- change login and register to the account tab -->


<ion-view view-title="Login">
  <ion-content>
    <form name="myform" novalidate>
      <!-- <fieldset> -->
        <div class="list">
          <label class="item item-input item-floating-label">
            <input type="email" name="email" placeholder="Email"
             ng-model="user.email" ng-required="true">
            <p class=""
            ng-show="myform.email.$invalid && myform.email.$touched">
            Must be a valid email</p>
          </label>
          <label class="item item-input item-floating-label">
            <input type="password" name="password" placeholder="Password"
            ng-model="user.password" ng-required="true">
            <p class=""
            ng-show="myform.password.$invalid && myform.email.$touched">
            Password is required</p>
          </label>
          <div class="item">
            <button type="submit" class="button button-block" ng-disabled="myform.$invalid" ng-click="login(user.email, user.password)">Login</button>
        <!-- <a class="btn" ng-href="#/register">register</a> -->
        <p> or <a ng-href="#/register">create an account</a> if you haven't yet.</p>
          </div>
        </div>
      <!-- </fieldset> -->
    </form>
  </ion-content>
</ion-view>
