<ion-view view-title="Workout">
  <ion-content class="">
    <div class="">
      <!-- titleDiv -->
      <div class="bar bar-dark">
        <h1 class="title">{{currentExercise.exercise}}</h1>
      </div>
      
      <!-- /titleDiv -->
      <!-- breakline figure out better structure more ionic-y -->
      <br>
      <!-- circularProgressBar -->
      {{currentExercise.time}}

      <!-- <progress max="{{currentExercise.time}}" value="{{currentExerciseProgress}}"> </progress> -->
      <div class="row">
        <div id="progressBarCircle" class="col col-33 col-offset-33"></div>
      </div>
      <!-- !circularProgressBar -->
    </div>

    <div class="row topButtons">
      <div class="col col-33">
        <button class="button button-block 33 icon-right ion-play topButtons" ng-click="startExercise()">Start</button>
      </div>
      <div class="col col-33">
        <button class="button button-block icon-right topButtons {{pauseBtn.ionname}}" ng-click="pauseExercise()">{{pauseBtn.name}}</button>
      </div>
      <div class="col col-33">
        <button class="button button-block icon-right ion-navicon-round topButtons" ng-click="data.showReordering = !data.showReordering">Reorder</button>
      </div>
    </div>
    
    <ion-list class="list list-inset" show-reorder="data.showReordering">
      <ion-item class="item item-divider">
        Exercises
      </ion-item>

      <ion-item ng-repeat="exercise in updateExerciseList() track by $index" class="item">
       {{exercise.exercise}}
       {{exercise.time}} seconds

        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(exercise, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- store in firebase -->

<!-- add list-avatar pictures for each exercise later -->