<ion-view view-title="Build">
  <ion-content class="">
    <div class="list">
    	<label class="item item-input item-stacked-label">
    		<span class="input-label">Number of Exercises</span>
  		</label>
      	<label class="item-input item-stacked item range">
      		
        	<input type="range" string-to-number min="0" max="100" ng-model="numOfExercises"/>
        	<span class="input-label">{{numOfExercises}} exercises</span>
        </label>
        <label class="item item-input item-stacked-label">
    		<span class="input-label">Time for Exercises</span>
  		</label>
      	<label class="item-input item-stacked item range">
      		
        	<input type="range" string-to-number min="0" max="100" ng-model="timeForExercises"/>
        	<span class="input-label">{{timeForExercises}} seconds</span>
        </label>
        <div class="item">
	        <button class="button button-block" ng-disabled="myform.$invalid" ng-click="build(numOfExercises, timeForExercises)">Build</button>
        </div>
    </div>
  </ion-content>
</ion-view>
