/* Empty. Add your own CSS if you like */
.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.progressBarContainer {
	/*width: 50%;*/
	font-size: 100%;
}

.progressbar-text{
	font-size: 2.4rem;
}

.topButtons {
	font-weight: bold;
}

.inputCenter {
	text-align: center;
}

/*.inputIndent, input::-webkit-input-placeholder {
	text-indent: 5px;
}*/