/* Empty. Add your own CSS if you like */
.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.progressBarContainer {
	/*width: 50%;*/
	font-size: 100%;
}

.progressbar-text{
	font-size: 2.4rem;
}

.topButtons {
	font-weight: bold;
}

/*.inputCenter {
	text-align: center;
}*/

.inputIndent, input::-webkit-input-placeholder {
	text-indent: 2%;
	color: #000;
}

.grey {
	background-color: #f8f8f8;
}

/*.ion-popover-view.fit {
  height: auto !important;
}

.ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}*/

ion-popover-view {
  height: auto;
  color: #fff;
  /*font-style: bold;*/
  font-size: 5rem;
}

.ion-popover {
	font-size: 5rem;
	/*background-color: #000;*/
	/*height: auto;*/
	/*height: 75%;*/
	width: 96.75%;
	position: relative;
}

.inputCenter {
	/*text-align: center;*/
	/*float: left;*/
	margin-top: 2%;
	margin-left: 33%;
	/*font-size: 1.5rem;*/
}

.inputUp {
	margin-top: -6%;
	margin-bottom: -6%;
}

/*ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}
*/